body {
    background: #E5E5E5;
    font-family: "Montserrat", "sans-serif";
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.mainDescryption {
    background: red;
    margin: 20px 40px 20px 40px;
    padding: 40px 20px 40px 20px;
}

.block2 {
    margin: 10px;
    padding: 50px;}

li {
    color:green;
}

h2 {
    color: red;
}

.descryption {
    color: darkblue;
}