body {
  background: #e5e5e5;
  font-family: "Montserrat", "sans-serif";
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

aside {
  width: 370px;
  background: #1e2939;
}

.cvPhoto {
  margin-top: 40px;
}

.headerSecondary {
  color: #ffffff;
}

.contactLinks {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.bold {
  font-weight: 700;
}

.listSecondary {
  color: #fb6d3a;
  padding-left: 0;
  list-style-position: inside;
}

.listSecondaryItem {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.contactBlock {
  margin-top: 51px;
  margin-left: 40px;
}

.techSkillsBlock {
  margin-top: 47px;
  margin-left: 40px;
}

.softSkillsBlock {
  margin-top: 44px;
  margin-left: 40px;
}

main {
  padding: 102px 88px 102px 88px;
}

.mainDescription {
  width: 400px;
}

.jobTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}

.descryption {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
}

.projects {
  width: 485px;
  margin-bottom: 51px;
}

.listPrimary {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  list-style-position: inside;
  padding-left: 0;
}

.listPrimaryItem {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: none;
  color: #595959;
}

.headerPrimary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 12px;
}

.jobName {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.highlight {
  color: #fb6d3a;
}

.jobDate {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.jobList {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  list-style-position: inside;
  padding-left: 0;
}

.educationPlace {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-top: 12px;
}

.educationSpecjalty {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.black {
  color: #000000;
}

.educationDiv {
  margin-top: 43px;
}
